BETTER_AUTH_SECRET="secret..."
BLOB_READ_WRITE_TOKEN="secret..."
CHROMATIC_PROJECT_TOKEN="secret..."
CLERK_SECRET_KEY="secret..."
CRON_SECRET="secret..."
DB_KV_KV_REST_API_READ_ONLY_TOKEN="secret..."
DB_KV_KV_REST_API_TOKEN="secret..."
DB_KV_KV_REST_API_URL="https://database.upstash.io"
DB_KV_KV_URL="rediss://database"
DB_KV_REDIS_URL="rediss://database"
DB_MAIN_DIRECT_STRING="postgresql://user:password@database/presentation-foundation?sslmode=require"
DB_MAIN_STRING="postgresql://user:password@database/presentation-foundation?sslmode=require"
DB_READ1_STRING="postgresql://user:password@database/presentation-foundation?sslmode=require"
DB_READ2_STRING="postgresql://user:password@database/presentation-foundation?sslmode=require"
FLAGS_SECRET="secret..."
GITHUB_AUTH_CLIENT_ID="secret..."
GITHUB_AUTH_CLIENT_SECRET="secret..."
GOOGLE_AUTH_CLIENT_ID="secret..."
GOOGLE_AUTH_CLIENT_SECRET="secret..."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="secret..."
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID="secret..."
NEXT_PUBLIC_POSTHOG_HOST="https://eu.i.posthog.com"
NEXT_PUBLIC_POSTHOG_KEY="secret..."
NEXT_PUBLIC_POSTHOG_PROJECT_ID="secret..."
SENTRY_AUTH_TOKEN="secret..."
SENTRY_SUPPRESS_TURBOPACK_WARNING="1"
UPLOADTHING_TOKEN="secret..."
SKIP_ENV_VALIDATION="1"
